body {
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: white;
}

.container {
    width: 40%;
    margin: 100px auto;
    background: #1e293b;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 10px;
    border-radius: 5px;
}

button {
    margin-top: 15px;
    padding: 10px 20px;
}

.confidence {
    margin-top: 10px;
    font-size: 16px;
    color: #38bdf8;
}
